.us_classify{
    padding: 30px;
    box-sizing: border-box;
    background-color: #f7f8f8;
}

.classify_list{
    background: #fff;
    box-sizing: border-box;
    padding: 15px 28px;
    margin-bottom: 30px;
}

.classify_list dl{
    padding: 5px 0;
    font-size: 14px;
    line-height: 26px;
}

.classify_list dl dt{
    float: left;
    width: 76px;
}

.classify_list dl dd span{
    margin: 0;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}

.classify_list dl dd .ustitle{
    color: #791a1e;
}


.us_lists{
    background: #fff;
    min-height: 500px;
    padding: 10px 14px 0 14px;
}


.lists_div ul li{
    float: left;
    padding: 40px 14px 30px;
}

.goods_pic{
    width: 250px;
    height: 250px;
    line-height: 248px;
    /* *font-size: 225px; */
    margin: 0 auto 10px;
    overflow: hidden;
}

.goods_pic img{
    max-width: 250px;
    max-height: 250px;
}

.goods_pic a>img:hover{
    transition: transform 0.3s linear;
    -webkit-transform: scale(1.1); /*Safari 和 Chrome*/
    -moz-transform: scale(1.1); /*Firefox*/
    -ms-transform: scale(1.1); /*IE9*/
    -o-transform: scale(1.1); /*Opera*/
    
}

.icon_sx{
    width: 18px;
    height: 16px;
    display: inline-block;
    background:url(../images/icons.png) no-repeat left bottom;
    /* background-position:0px -183px; */
    vertical-align: middle;
    margin-left: 5px;
}

.goods_name em{
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

.us_lists .lists_div .goods_name{
    font-size: 14px;
    font-weight: 400px;
    color: #595757;
    height: 110px;
}

.goods_name .text-tag{
    background: #791a1e;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px;
}

.price{
    color: #791a1e;
    font-size: 17px;
    font-weight:normal;
    margin-bottom: 2px;
    line-height: 24px;
}

.buy-cart{
    font-size: 12px;
    color: #791a1e;
}
.buy-cart:hover{
    cursor: pointer;
    color: #791a1e;
}

.lists_div .bg{
    width: 1140px;
    padding: 0px;
    height: 5px;
    background-color: #f7f8f8;
    margin: 0 -14px;
}

#ad{
    background: #f7f8f8;
    height: 5px;
    width: 100%;
    float:none;
    padding: 0;
    margin: 0 -14px;
    width: 1140px;
    clear:both;
}